<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-Health Support </title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="../vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/">E-Health Support</a>
        <a class="navbar-brand brand-logo-mini" href="/">E-H</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            
                    <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-head"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">               
                  <i class="icon-head"></i> Profile
              </a>
              <a href="/logout" class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          
        
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
         
          <div class="user-name">
              <%= userenroll.name %>
          </div>
          <div class="user-designation">
              Doctor
          </div>
        </div>
       <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/doctor/dashboard">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor/patient">
               <i class="icon-thermometer menu-icon"></i>
              <span class="menu-title">Patient</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor/appointment">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Appointments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor/lock_screen">
              <i class="icon-lock menu-icon"></i>
              <span class="menu-title">Lockscreen</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Hi, welcome back!</h4>
              <p class="font-weight-normal mb-2 text-muted">APRIL 1, 2021</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-12 flex-column d-flex grid-margin stretch-card">
              <div class="row flex-grow">
                <div class="col-sm-3 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Todays Appointment</h4>
                          <h4 class="text-dark font-weight-bold mb-2"> <%= todays_count %></h4>
                         
                      </div>
                    </div>
                </div>
                <!-- <div class="col-sm-3 grid-margin  stretch-card">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Months Appointments</h4>
                          <h4 class="text-dark font-weight-bold mb-2">55</h4>
                        
                      </div>
                    </div>
               </div> -->
                <div class="col-sm-3 grid-margin  stretch-card">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Total Appointment</h4>
                          <h4 class="text-dark font-weight-bold mb-2"><%= total_appo %></h4>
                          
                      </div>
                    </div>
               </div>
               <div class="col-sm-3 grid-margin  stretch-card">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Total Patients</h4>
                          <h4 class="text-dark font-weight-bold mb-2"><%= patient_count %></h4>
                        
                      </div>
                    </div>
               </div>
              </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 grid-margin grid-margin ">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Todays Appointments </h4>

                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                          <tr>
                            <th>  Sr.no </th>
                            <th > Patient name </th>
                            <th > Doctor Name </th>
                            <th > Appointment Date & Time </th>
                            <th >  specilist   </th>
                            <th >  Resone   </th>
                            <th> View </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (todays_appointment.length>0) {  %>
                            <% todays_appointment.forEach( function(item, i){ %>
                              <tr>
                                <td> <%= i+1 %> </td>
                                <td> <%= item.patient_name %> </td>
                                <td> <%= item.doctor %> </td>
                                <td> <%= item.date %> <%= item.time %>  </td>
                                <td> <%= item.specilist %> </td>
                                <td> <%= item.problem %> </td>
                                <td><a href="/doctor/appointment_patient_details/<%= item._id %>"><button>View</button></a></td>
                              </tr> 
                          <% })} else { %>
                            <tr> <td> There is no Appointments Today. </td> </tr>
                            <% } %>
                
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../vendors/chart.js/Chart.min.js"></script>
  <script src="../vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="../js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

