<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-Health Support </title>
  <!-- base:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="../vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/">E-Health Support</a>
        <a class="navbar-brand brand-logo-mini" href="/">E-H</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            
                    <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-head"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">               
                  <i class="icon-head"></i> Profile
              </a>
              <a href="/logout" class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          
        
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
         
          <div class="user-name">
              User Name
          </div>
          <div class="user-designation">
              Admin
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/doctors.html">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Doctors</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/patients">
               <i class="icon-thermometer menu-icon"></i>
              <span class="menu-title">Patient</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/appointment.html">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Appointments</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/lock-screen">
              <i class="icon-lock menu-icon"></i>
              <span class="menu-title">Lockscreen</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark">Doctor Details</h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-12 flex-column d-flex grid-margin stretch-card">
              <div class="row flex-grow">
                <div class="col-sm-3 grid-margin ">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title" style="text-align: center; " >
                          <img src="../images/faces/doctor/doctor.png"></h4>
                      </div>
                    </div>
                </div>
                <div class="col-xl-5 grid-margin grid-margin ">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Personal Details</h4>

                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                          <tr><th> Date of joining</th><td><%= doctor_info.date_of_joining %></td></tr>
                          <tr><th>  Name</th><td><%= doctor_info.name %></td></tr>
                          <tr><th>  Age</th><td>56</td></tr>
                          <tr><th>Gender</th><td><%= doctor_info.gender %></td></tr>
                          <tr><th>  Address </th><td><%= doctor_info.address %></td></tr>
                        </thead>
                        
                      </table>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 grid-margin grid-margin ">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Job Details</h4>

                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                              <tr><th> Qualification</th><td><%= doctor_info.qualification %></td></tr>
                              <tr><th>  Specilization</th><td><%= doctor_info.spacilization %></td></tr>
                              <tr><th>  Exprience</th><td><%= doctor_info.exprience %></td></tr>
                              <tr><th>Email</th><td><%= doctor_info.email %></td></tr>
                              <tr><th>  Contact </th><td><%= doctor_info.contact %></td></tr>
                        </thead>
                        
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
            
              
              
          <div class="row">
          
            <div class="col-xl-3 flex-column d-flex grid-margin stretch-card">
              <div class="row flex-grow">
                <div class="col-sm-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Todays Appointment</h4>
                          <h4 class="text-dark font-weight-bold mb-2">91</h4>
                         
                      </div>
                    </div>
                </div>
                <div class="col-sm-12 grid-margin ">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Total Appointment</h4>
                          <h4 class="text-dark font-weight-bold mb-2">55,543</h4>
                          
                      </div>
                    </div>
               </div>
               <div class="col-sm-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Total Patients</h4>
                          <h4 class="text-dark font-weight-bold mb-2">55,43</h4>
                        
                      </div>
                    </div>
               </div>
              </div>

            </div>
          

            <div class="col-xl-9 grid-margin grid-margin  stretch-card ">
              <div class="card">
                <div class="card-body" style="height: 310px;">
                    <h4 class="card-title">Recent Appointments</h4>

                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                          <tr>
                            <th width="10">
                                Sr.no
                            </th>
                            <th  width="150">
                                Date & Time
                            </th>
                            <th width="250">
                               Appointment Date & Time
                            </th>
                            <th width="150">
                                Patient
                            </th>
                            <th>
                                Reason
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            
                          </tr>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            
                          </tr>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6  grid-margin  stretch-card  ">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Patients List</h4>
                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                          <tr>
                            <th width="10">
                                Sr.no
                            </th>
                            <th width="50">
                                Date
                            </th>
                            <th width="250">
                                Name
                            </th>
                            <th width="150">
                                Desiese
                            </th>
                            <th width="150">
                                Contact
                            </th>
                            <th width="50">
                                View
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212
                            </td>
                            <td>
                              Mehata                            </td>
                            <td>
                              Maleriya
                            </td>
                            <td>
                              12356789
                            </td>
                            <td>
                              <a href="/admin/patient_details"><button>view</button></a>
                            </td>
                            
                          </tr>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            <td>
                              12356789
                            </td>
                            <td>
                              <a href="/admin/patient_details"><button>view</button></a>
                            </td>
                            
                          </tr>
                          
                           <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            <td>
                              12356789
                            </td>
                            <td>
                              <a href="/admin/patient_details"><button>view</button></a>
                            </td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6  grid-margin ">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Completed Appointments</h4>
                    <div class="table-responsive mt-3">
                      <table class="table table-header-bg">
                        <thead>
                          <tr>
                            <th width="10">
                                Sr.no
                            </th>
                            <th width="200">
                                Date & Time
                            </th>
                            <th width="100">
                                Completed
                            </th>
                            <th width="150">
                                Patient
                            </th>
                            <th>
                                Reason
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              Yes
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            
                          </tr>
                         
                          <tr>
                            <td>
                              1 
                            </td>
                            <td>
                              12/12/1212 12:12pm
                            </td>
                            <td>
                              Not Visited
                            </td>
                            <td>
                              Mehata
                            </td>
                            <td>
                              Maleriya
                            </td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
            

            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © <a href="https://strawhats.in/">Strawhats.in</a> 2020</span>
            
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../vendors/chart.js/Chart.min.js"></script>
  <script src="../vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="../js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

